<!doctype html>
<html ng-app="eliteApp">
	<head>
		<meta charset="utf-8">
		<title>Elite Log Searcher</title>
		<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
		<link rel="stylesheet" href="index.css">
		<script src="node_modules/angular/angular.js"></script>
		<script src="controller.js"></script>
	</head>
	<body ng-controller="eliteCtrl">
		<nav class="navbar navbar-default navbar-fixed-top">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#">Elite Log Searcher</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse ">
					<form name="search" class="navbar-form navbar-right" role="search">
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Directory" ng-model="dir">
						</div>
						<button ng-click="updateDir(dir)" class="btn btn-default">Load logs</button>
					</form>
				</div><!-- /.navbar-collapse -->
			</div><!-- /.container-fluid -->
		</nav>
		<div class="container-fluid">
			<section>
				<p ng-hide="loaded">
					Please enter a <strong>unique</strong> username.
				</p>
				<form name="form" class="form-inline" ng-show="loaded" novalidate >
				  <div class="form-group">
				    <label for="uName">Username</label>
				    <input type="text" class="form-control" id="uName" ng-model="username"/>
				  </div>
				  <button type="submit" ng-click="searchLogs(username)" class="btn btn-default">Search</button>
				</form>
				<table class="table table-striped table-hover" id="table">
					<thead>
						<tr>
							<th ng-click="order('[0]')" id="date">Date<span class="sortorder" ng-show="predicate === '[0]'" ng-class="{reverse:reverse}"></span></th>
							<th ng-click="order('[1]')" id="logid">LogID<span class="sortorder" ng-show="predicate === '[1]'" ng-class="{reverse:reverse}"></span></th>
							<th colspan="2">Char/Account ID</th>
							<th colspan="2"></th>
							<th colspan="3">Location</th>
							<th colspan="5"></th>
							<th></th>
							<th></th>
							<th></th>
							<th></th>
							<th ng-click="order('[18]')" id="itemid">ItemID<span class="sortorder" ng-show="predicate === '[18]'" ng-class="{reverse:reverse}"></span></th>
							<th ng-click="order('[19]')" id="itemtype">ItemType<span class="sortorder" ng-show="predicate === '[19]'" ng-class="{reverse:reverse}"></span></th>
							<th></th>
							<th></th>
							<th ng-click="order('[22]')" id="charname">CharName<span class="sortorder" ng-show="predicate === '[22]'" ng-class="{reverse:reverse}"></span></th>
							<th ng-click="order('[23]')" id="accountname">AccountName<span class="sortorder" ng-show="predicate === '[23]'" ng-class="{reverse:reverse}"></span></th>
							<th></th>
							<th></th>
							<th ng-click="order('[26]')">ItemID<span class="sortorder" ng-show="predicate === '[26]'" ng-class="{reverse:reverse}"></span></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="entry in log | orderBy:predicate:reverse">
							<td ng-repeat="d in entry track by $index">
								<div ng-click="searchLogs(d)">{{d}}</div>
							</td>
						</tr>
					</tbody>
				</table>
			</section>
			<footer></footer>
		</div>
	</body>
</html>
