body { padding-top: 70px; }

.center {
     float: none;
     margin-left: auto;
     margin-right: auto;
}

.sortorder:after {
    content: '\25b2';
  }
.sortorder.reverse:after {
  content: '\25bc';
}
